

.container {
  position: relative;
  height: 290px;
  width: 290px;
  margin: 50px 20px;
  float: left;
}

.container img {
  width: 420px;
  height: 460px;
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}

.encima {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: blueviolet;
}




.container img.top:hover {
  opacity: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

